<div class="choose_delivery">
    <p>You’re ordering a hard copy of the certificate <b>“Certificate name”</b></p>
    <p>Kindly enter your delivery address below and proceed to payment tab.</p>
    <!-- start section select address -->
    <div class="overflow-hidden">
        <form action="">
            <label class="title" for=""><b>Choose from your address book:</b></label>
            <div class="form-row">
                <div class="form-group col-12" *ngFor="let address of addressUser">
                    <div class="wrap">
                        <input
                            class="custom_input"
                            type="radio" 
                            name="address" 
                            id="address-{{address.id}}">
                        <label for="address-{{address.id}}" class="custom_label" (click)="sendIdAddress(address.id)">
                            <span></span>
                        </label>
                        <ul>
                            <li>{{address.created_at | date: 'd-M-y'}}</li>
                            <li>{{address.address}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <span>or</span>
        <h4>
            <a routerLink="add-address">
                <i class="fa fa-plus"></i> Add new address
            </a>
        </h4>
        <app-btn
            [disabled]="!getIdAddress"
            btn_type="submit"
            routerLink="payment"
            [queryParams]="{addresId: getIdAddress}"
            slideNext="slideNext"
            icon="arrow-right" 
            btn_title="next">
        </app-btn>
    </div>
    <!-- end section select address -->
</div>