<!-- start header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <img src="../../assets/img/main-logo.png" alt="logo" srcset="">
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="">En | ع</a></li>
                        <li>
                            <a href="">
                                <img src="../../assets/img/bell.png" alt="bell" srcset="">
                            </a>
                        </li>
                        <li><a href="">
                                <img src="../../assets/img/user.png" alt="user" srcset="">
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- end header -->