<!-- start addres-book component -->
<div class="row">
    <div class="col-sm-12">
        <div class="addres_book">
            <h3>Manage your address book</h3>
            <ul>
                <li>30-03-10</li>
                <li>Franz Mehring Platz 3, 10243, Berlin</li>
                <li>
                    <a href="http://">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a href="http://">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <ul>
                <li>30-03-10</li>
                <li>Franz Mehring Platz 3, 10243, Berlin</li>
                <li>
                    <a href="http://">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a href="http://">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <ul>
                <li>30-03-10</li>
                <li>Franz Mehring Platz 3, 10243, Berlin</li>
                <li>
                    <a href="http://">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a href="http://">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <h4><a routerLink="add"><i class="fa fa-plus"></i> Add new address</a></h4>
        </div>
    </div>
</div>
<!-- end addres-book component -->
<router-outlet></router-outlet>