<!-- start addres-book component -->
<div class="row">
    <div class="col-sm-12">
        <div class="addres_book">
            <h3>Manage your address book</h3>
            <ul *ngFor="let address of addressUser">
                <li>{{address.created_at | date: 'd-M-y'}}</li>
                <li>{{address.address}}</li>
                <li>
                    <a [routerLink]="['edit', address.id]">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a routerLink="./" (click)="deleteAddress(address.id)">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <h4><a routerLink="add"><i class="fa fa-plus"></i> Add new address</a></h4>
        </div>
    </div>
</div>
<!-- end addres-book component -->
<router-outlet></router-outlet>