<!-- start class over_lay -->
<div class="over_lay"></div>
<!-- end  class over_lay -->

<!-- start class add_addres -->
<div class="add_addres">
    <form action="">
        <div class="row">
            <div class="col-sm-12 title">
                <p class="float-left"><b>Add Address</b></p>
                <i class="fa fa-times pointer user float-right"></i>
            </div>
            <div class="col-sm-12 title">
                <p>Kindly enter your new address below.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 input">
                <app-input-filed lable="Country"
                    placeholder="Egypt">
                </app-input-filed>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 input">
                <app-input-filed lable="City">
                </app-input-filed>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 input">
                <app-input-filed lable="Zip code"></app-input-filed>
            </div>
            <div class="col-sm-12 col-md-12 input">
                <app-input-filed lable="Address line (Street Name and House No.)"></app-input-filed>
            </div>
            <div class="col-sm-12 col-md-12 input">
                <app-input-filed defInput="area" lable="Note for delivery (optional)"></app-input-filed>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <app-btn btn_title="Add address" btn_type="button"></app-btn>
            </div>
        </div>
    </form>
</div>
<!-- end class add_addres -->