@import '../../../../sass/style.scss';

// start style class add_addres
.edit_payment {
    top: 50%;
    left: 50%;
    z-index: 1600;
    position: fixed;
    min-width: 500px;
    max-width: 765px;
    // use var sass
    background-color: $c_white;
    // use mixin sass
    @include prevfix(border-radius, 6px, webkit moz ms o);
    @include prevfix(transform, translate(-50%, -50%), webkit moz ms o);
    form {
        padding: 35px 50px;
        .title p {
            // use var sass
            font-size: $font_14;
            font-family: $font_regular;
            margin-bottom: 40px;
        }
        .card-payment {
            height: 340px;
            padding: 30px 25px;
            background: url('../../../../../assets/img/bg_payment.png') no-repeat;
            background-color: $c_click;
            border-radius: 23px;
            .input {
                margin-bottom: 40px;
                label {
                    color: #fff;
                    margin-right: 25px;
                }
                select {
                    border: 0;
                    color: #fff;
                    appearance: none;
                    font-weight: 600;
                    margin-right: 20px;
                    padding: 0 40px 11px 0;
                    border-bottom: 1px solid #fff;
                    background: url(../../../../../assets/img/drop_down_w.svg) no-repeat top 7px right;
                    option {
                        color: #000;
                        background-color: #eee;
                    }
                }
                .wrap_1 {
                    float: right;
                    i {
                        color: #fff;
                        font-size: 55px;
                    }
                }
            }
            input {
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;
                padding: 11px 0;
                &::placeholder {
                    color: #fff;
                }
            }
            .wrap {
                position: relative;
                i {
                    right: 0;
                    top: 14px;
                    color: $c_white;
                    font-size: 20px;
                    position: absolute;
                }
            }
        }
        .btn_ {
            margin-top: 55px;
        }
    }
}
// end style class add_addres


// start media query
@media (max-width: 576px) {
    .edit_payment {
        min-width: 320px;
        form {
            padding: 35px 15px;
            .card-payment {
                .input {
                    // margin-bottom: 15px !important;
                    select:last-of-type {
                        margin-right: 0 !important;
                    }
                    .wrap_1 i {
                        display: none;
                    }
                }
            }
        }
    }
}
// end media query