<!-- start class over_lay -->
<div class="over_lay"></div>
<!-- end  class over_lay -->

<!-- start class add_addres -->
<div class="edit_payment">
    <form action="" [formGroup]="FormUpdateCard" (ngSubmit)="UpdateCard()">
        <div class="row">
            <div class="col-sm-12 title">
                <p class="float-left"><b>Edit payment method</b></p>
                <i routerLink="../../" class="fa fa-times pointer user float-right"></i>
            </div>
            <div class="col-sm-12 title">
                <p>Edit card to pay faster later.</p>
            </div>
            <div class="col-sm-12">
                <div class="card-payment">
                    <div class="row">
                        <div class="col-sm-12 input">
                            <input 
                                type="text" 
                                name="number"
                                maxlength="16"
                                placeholder="Card number…" 
                                formControlName="number"
                            />
                        </div>
                        <div class="col-sm-12 input">
                            <label for="">Exp.</label>
                            <select name="Exp-Month" formControlName="Exp-Month">
                                <option disabled>Month</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select name="Exp-Year" formControlName="Exp-Year">
                                <option disabled>Year</option>
                                <option>2011</option>
                                <option>2021</option>
                            </select>
                            <div class="wrap_1">
                                <i class="fa fa-credit-card"></i>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8">
                            <input 
                                name="name" 
                                type="text" 
                                formControlName="name"
                                placeholder="Card holder name…" 
                            />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="wrap">
                                <input 
                                    name="ccv" 
                                    type="text" 
                                    maxlength="3"
                                    formControlName="ccv"
                                    placeholder="CCV number…" 
                                />
                                <i class="fa fa-question-circle" title="in the back card has 3 number"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right btn_">
                <app-btn 
                    btn_title="Edit card"
                    [isloading]="isloading"
                    [disabled]="FormUpdateCard.invalid" >
                </app-btn>
            </div>
        </div>
    </form>
</div>
<!-- end class add_addres -->