<form action="">
    <div class="row">
        <div class="col-sm-12 col-md-8 input">
            <app-input-filed></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-4 input">
            <app-input-filed></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-8 input">
            <app-input-filed></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-4 input">
            <app-input-filed></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-8 input">
            <app-input-filed></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-4 input">
            <app-input-filed></app-input-filed>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <app-btn btn_title="Save changes" btn_type="button"></app-btn>
        </div>
    </div>
</form>