<form action="">
    <div class="row">
        <div class="col-sm-12 col-md-8 input">
            <app-input-filed 
                lable="Full name (AS per id)"
                placeholder="ABDULLAH MOHAMMED QADRY MOHAMMED BASUONY YOUSSEF"
            >
            </app-input-filed>
        </div>
        <div class="col-sm-12 col-md-4 input">
            <app-input-filed 
                lable="Nationality"
                placeholder="Egypt"
            >
            </app-input-filed>
        </div>
        <div class="col-sm-12 col-md-8 input">
            <app-input-filed lable="ID number" placeholder="297111923123005"></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-4 input">
            <app-input-filed lable="Country of residency"></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-8 input">
            <app-input-filed lable="email address" placeholder="abdulla.kadry@gmail.com"></app-input-filed>
        </div>
        <div class="col-sm-12 col-md-4 input">
            <app-input-filed lable="Phone number"></app-input-filed>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <app-btn btn_title="Save changes" btn_type="button"></app-btn>
        </div>
    </div>
</form>