@import '../sass/style.scss';

// start style class nav_edit
.nav_edit {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 40px;
    li {
        position: relative;
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: 50px;
        }
        &::before {
            content: '';
            top: 27px;
            left: 15px;
            display: none;
            border: 1px solid;
            position: absolute;
            border-radius: 5px;
            border: 15px solid #C4C4C4;
            border-color: transparent transparent $c_bg_body transparent;            
        }
        &.active  {
            &::before {
                display: block;
            }
            a {
                font-weight: bold;
            }
        }
        a {
            padding: 10px;
            color: $c_black;
            font-size: $font_16;
            font-family: $font_regular;
        }
    }
}
// end style class nav_edit

// start style class body_profile
.body_profile {
    margin-top: 30px;
    .row {
        background-color: $c_bg_body;
        @include prevfix(border-radius, 4px, webkit moz ms o)
    }
}
// end style class body_profile