<body>
    <div class="hole-layout">
        <div class="row">
    
    
            <!----------------------left side----------------------------->
            <div class="col-md-4 col-sm-12 all">
                <div class="overlay-left"></div>
    
                <div class=" header">
                    <div class="container">
                        <div class="row">
                            <div class=" logo-i"><img src="assets/img/iprotect/Group 4w2.png" alt="logo"></div>
                            <div class="text-bold lang">EN|ع</div>
                        </div>
                    </div>
                </div>
    
                <div class="welcome" style="height:75%;">
    
                    <div class="info text-center">
                        <h1 class="text-bold">welcome <br>Back !</h1>
                        <p>Don't have <br>an account yet?</p>
    
                        <a class="btn btn-outline-light text-bold" href="register">Create a new account</a>
                    </div>
                </div>
            </div>
    
            <!---------------------------------------------->
    
    
            <div class="col-md-8 col-sm-12 content">
    
    
                <div class="register-form">
                    <div class="container">
    
                        <div class="title ">
                            <h2 class="text-bold">Login to your account</h2>
                        </div>
    
                        <div class="form-body">
                            <form class="px-4 py-3" id="simple_form" novalidate="novalidate">
    
                                <div class="control-group">
                                    <label for="exampleDropdownFormEmail1">EMAIL ADDRESS</label>
                                    <input type="email" class="form-control" id="contact_email"
                                        placeholder="Start typing..."
                                        data-validation-required-message="Please enter your Email." />
                                    <p class="text-danger help-block"></p>
                                </div>
    
                                <div class="control-group">
                                    <label for="exampleDropdownFormPassword1">PASSWORD</label>
                                    <!--  <span class="eye"><i class="fa fa-eye"></i><span>-->
                                    <input type="password" class="form-control" id="mypassword"
                                        placeholder="Start typing..." required="required"
                                        data-validation-required-message="Please enter your Password.">
                                    <p class="text-danger help-block"></p>
                                    <a class="forgot">forgot password?</a>
                                </div>
    
    
    
    
                                <div class="buton-login text-center text-lg-right">
                                    <button type="submit" class="btn btn-primary " id="send_button"><a class="text-bold"
                                            href="/register">Login</a></button>
                                </div>
    
                            </form>
                        </div>
                    </div>
    
    
                </div>
            </div>
    
    
            <!-------------------------------------------------------------->
        </div>
    </div>
</body>