// globale vars //

// colors
$c_white: #fff;
$c_black: #000;
$c_1th: #A3ABBD;
$c_2th: #3B3B3B;
$c_3th: #eaeaea;

// fonts
$font_14: 14px;
$font_16: 16px;
$font_bold: Rubik-bold;
$font_regular: Rubik-regular;