<!-- start class box_form -->
<div class="box_form">
    <label>{{lable ? lable : 'input filed'}}</label>
    <ng-container [ngSwitch]="defInput">
        <!-- <div class="dropdown"> -->
            <!-- <button
                class="btn nationality dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ steps[currentStep - 1].fields.data.nationality || "Select"}}
                <i class="fa fa-caret-down"></i>
                </button> -->
            <!-- <div
                class="dropdown-menu scrollable-menu"
                style="
                    height: auto;
                    max-height: 200px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                "
                aria-labelledby="dropdownMenuButton">
                <a (click)="steps[currentStep - 1].fields.data.nationality = country.name"
                    class="dropdown-item"
                    style="cursor: pointer"
                    *ngFor="let country of countries">
                    {{ country.name }}
                </a>
            </div> -->
        <!-- </div> -->
        <textarea
            *ngSwitchCase="'area'"
            class="form-control"
            [name]="nameInput ? nameInput : 'textarea'"
            [placeholder]="placeholder ?  placeholder : 'Start typing...'"
        ></textarea>
        <input 
            *ngSwitchDefault
            class="form-control" 
            [type]="typeInput ? typeInput : 'text'" 
            [name]="nameInput ? nameInput : 'name'" 
            [placeholder]="placeholder ?  placeholder : 'Start typing...'" 
        />
    </ng-container>
</div>
<!-- end class box_form -->