<!-- start class over_lay -->
<div class="over_lay"></div>
<!-- end class over_lay -->

<!-- start class order_hight -->
<div class="order_hight">
    <div class="wrappar">
        <ul class="toggle">
            <li routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><b>Delivery details</b></li>
            <li routerLink="payment" routerLinkActive="active"><b>Payment</b></li>
            <!-- run event click to close this component -->
            <li routerLink="../../" class="user">
                <i class="fa fa-times"></i>
            </li>
        </ul>
        <div class="clear_fix"></div>
        <router-outlet></router-outlet>
    </div>
</div>
<!-- end class order_hight -->