@import '../sass/style.scss';

// start style class order_hight
.order_hight {
    top: 50%;
    left: 50%;
    width: 815px;
    height: 600px;
    z-index: 1600;
    position: fixed;
    min-width: 500px;
    overflow: hidden;
    padding: 25px 50px;
    // use var sass
    font-size: $font_14;
    font-family: $font_regular;
    background-color: $c_white;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    // use mixin sass
    @include prevfix(border-radius, 6px, webkit moz ms o);
    @include prevfix(transform, translate(-50%, -50%), webkit moz ms o);    
    .wrappar {
        .custom_label {
            float: left;
            width: 20px;
            height: 20px;
            padding: 2px;
            cursor: pointer;
            margin-top: 6px;
            margin-bottom: 0;
            overflow: hidden;
            margin-right: 15px;
            border-radius: 50%;
            border: 2px solid #000;
            span {
                width: 100%;
                height: 100%;
                display: none;
                background: #000;
                border-radius: 100%;
            }
        }
        .custom_input[type='radio'] {
            display: none;
            &:checked + label span {
                display: block !important;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            &.toggle {
                margin-bottom: 25px;
                li {
                    cursor: pointer;
                    // use var sass
                    color: $c_click;
                    position: relative;
                    display: inline-block;
                    &.active::after {
                        display: block !important;
                    }
                    &:first-of-type {
                        margin-right: 35px;
                    }
                    &:last-of-type {
                        color: #000;
                        float: right;
                    }
                    &:not(:last-of-type)::after {
                        left: 0;
                        width: 65%;
                        content: "";
                        height: 4px;
                        bottom: -5px;
                        display: none;
                        position: absolute;
                        border-radius: 3px;
                        // use var sass
                        background-color: $c_click;
                    }
                }
            }
        }
        p {
            margin-bottom: 0;
            &:first-of-type {
                // margin-top: 25px;
            }
        }
        form {
            margin-top: 20px;
            .title {
                margin-bottom: 20px;
            }
            .form-row {
                .wrap {
                    overflow: hidden;
                    display: inline-block;
                    ul {
                        float: left;
                    }
                }
            }
        }
        h4 {
            cursor: pointer;
            margin-top: 12px;
            // use var sass
            font-size: $font_16;
            font-family: $font_bold;
            a {
                color: $c_click;
            }
        }
        button {
            float: right;
            // use var sass
            color: $c_click;
            margin-top: 140px;
            padding: 14px 35px;
            // use var sass
            font-size: $font_14;
            font-family: $font_bold;
            background-color: transparent;
            &:disabled {
                // use var sass
                color: $c_white;
                border-color: $c_bg_body;
                background-color: $c_bg_body;
            }
            i {
                margin-left: 13px;
            }
        }
        .input {
            margin-top: 12px;
        }
        .wrap_btn {
            margin-top: 18px;
        }
        .payment {
            .method {
                // use var sass
                color: $c_white;
                padding: 10px;
                text-align: center;
                border-radius: 7px;
                margin-bottom: 25px;
                // use var sass
                background-color: $c_click;
                box-shadow: 0px 5px 5px rgb(0 0 0 / 16%);
                .custom_label {
                    margin: 0;
                    padding: 3px;
                    margin-right: 10px;
                    background: #fff;
                    border: 1px solid #fff;
                    span {
                        background-color: $c_check;
                    }
                }
                .custom_input[type='radio'] {
                    display: none;
                    &:checked + label span {
                        display: block !important;
                    }
                }
            }
            .ditalis {
                p {
                    margin: 0;
                    margin-top: 20px;
                    &:last-of-type {
                        margin: 25px 0;
                    }
                }
                input {
                    border: none;
                    margin-top: 6px;
                    padding: 8px 10px;
                    margin-left: -6px;
                    margin-right: -6px;
                    border-radius: 2px;
                    background-color: $c_3th;
                }
                ul {
                    overflow: hidden;
                    li {
                        &:not(:last-of-type) {
                            margin-bottom: 20px;
                        }
                        &.hr {
                            height: 1px;
                            background: $c_1th;
                        }
                        span {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
// end style class order_hight
