<!-- start box_forget_password -->
<div class="box_forget_password">
    <span>Forgot password</span>
    <span><i class="fas fa-times"></i></span>
    <p>Please enter your email address so we send you the link to reset your password.</p>
    <div class="box_form">
        <label>EMAIL ADDRESS</label>
        <input class="form-control" type="email" name="email" placeholder="Start typing..." data-validation-required-message="Please enter your Email." />
    </div>
    <button type="submit" class="btn btn-primary"><b>Send</b></button>
</div>
<!-- end box_forget_password -->
