
@import '../sass/style.scss';

// def style
:host {
    display: inline-block;
}

// start style class box_forget_password
.box_forget_password {
    overflow: hidden;
    font-size: $font_14;
    padding: 25px 50px;
    // use var scss
    font-family: $font_regular;
    background-color: $c_white;
    // use mixin scss
    @include prevfix(box-shadow, 0px 3px 6px rgb(0 0 0 / 16%), webkit moz ms o);
    span {
        color: $c_1th;
    }
    i {
        float: right;
        color: #707070;
    }    
    p {
        color: $c_2th;
        margin-top: 27px;
        margin-bottom: 0;
    }
    .box_form {
        margin-top: 30px;
        label {
            line-height: 17px;
            padding-left: 15px;
            font-size: $font_14;
        }
        input {
            border: 0;
            width: 100%;
            height: 58px;
            margin-top: 12px;
            border-radius: 2px;
            background-color: $c_3th;
            &::placeholder {
                color: $c_1th;
                font-size: $font_14;
            }
        }
    }
    button {
        float: right;
        margin-top: 42px;
        padding: 14px 60px;
    }
}