// src fonts
@font-face {
    font-family: Rubik-regular;
    src: url(../../assets/font/Rubik-Regular.ttf);
}
@font-face {
    font-family: Rubik-bold;
    src: url(../../assets/font/Rubik-Bold.ttf);
}

// globale vars //
// fonts
$font_bold: Rubik-bold;
$font_regular: Rubik-regular;

// colors
$c_white: #fff;
$c_black: #000;
$c_1th: #A3ABBD;
$c_2th: #3B3B3B;
$c_3th: #eaeaea;

// def style
:host {
    float: left;
}

// start style class box_forget_password
.box_forget_password {
    font-size: 14px;
    overflow: hidden;
    padding: 25px 50px;
    font-family: $font_regular;
    background-color: $c_white;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    span {
        color: $c_1th;
    }
    p {
        color: $c_2th;
        margin-top: 27px;
        margin-bottom: 0;
    }
    .box_form {
        margin-top: 31px;
        label {
            margin-bottom: 0;
            margin-left: 12px;
        }
        input {
            border: 0;
            width: 100%;
            height: 58px;
            margin-top: 12px;
            border-radius: 2px;
            background-color: $c_3th;
        }
    }
    button {
        float: right;
        margin-top: 42px;
    }
}