.stepper {
  display: table;
  width: 100%;
  height: 100%;
  &__left {
    display: table-cell;
    text-align: center;
    // vertical-align: middle
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    width: 30em;
    height: 100%;
    background-color: #ebeced;
    .title {
      font-size: 1em;
      span {
        font-size: 1.25em;
        font-weight: bold;
      }
    }
  }
  &__right {
    display: table-cell;
    padding-top: 6.25em;
    padding-bottom: 6.25em;
    width: 0;
    height: 100%;
  }
}

/*******************************/
.register-form {
  margin: 0 auto;
}

@media only screen and (max-width: 767.6.125em) {
  .content,
  .content-right {
    margin: 1.875em 0;
  }
  .register-form {
    width: 100%;
    margin: 0;
  }
  .register-form .title {
    font-size: 0.875em;
  }
  .register-form .form-body .col-lg-5 {
    padding-right: 0;
  }
}

.register-form .title {
  margin-left: 2.5em;
  position: relative;
}
.register-form h2 {
  font-size: 1.25em;
  // line-height: 2.25em;
  padding-bottom: 1.25em;
  // width: 18.75em;
}
.back {
  margin-bottom: 0.938em;
  cursor: pointer;
  i {
    margin-right: 0.313em;
  }
}
.register-form h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6.25em;
  height: 0.188em;
  margin-top: 0.625em;
  background-color: #2673e5;
}
::placeholder {
  font-size: 0.875em;
}
.register-form .control-group {
  margin-bottom: 1.875em;
}
.register-form .form-body label {
  font-size: 0.875em;
  padding-left: 0.938em;
  line-height: 1.063em;
}
.register-form .form-body .forgot {
  padding-left: 1.25em;
}
.register-form .form-body input[type="password"] {
  position: relative;
}

.register-form .form-body input,
.register-form .form-body select {
  border-radius: 0.125em;
  background-color: #eaeaea;
  border: 0;
  height: 3.625em;
}
.register-form .form-body textarea {
  border-radius: 0.125em;
  background-color: #eaeaea;
  border: 0;
}
.register-form .form-body .col-lg-5 {
  padding-left: 0;
  padding-bottom: 1.875em;
}
.register-form .form-body .col-lg-7 {
  padding-right: 0;
  padding-left: 0;
}
.register-form .form-body .container {
  padding-right: 0;
  padding-top: 1.25em;
}

.properties {
  margin-top: 0.625em;
  .type {
    border: 0.063em solid black;
    border-radius: 0.125em;
    padding: 1.25em;
    text-align: center;
    cursor: pointer;
  }
  .type:hover {
    // background-color: #e5e5e5;
    background-color: grey;
    color: white;
    border: none;
  }
}

.upload {
  .header {
    padding-left: 1.875em;
    font-size: 20;
    span {
      font-size: 14;
      font-weight: 500;
    }
  }
  .profile-picture {
    margin-left: 1.563em;
    margin-top: 1.25em;
    margin-bottom: 3.125em;
    width: 100%;
    height: 18.75em;
    background-color: #eaeaea;
    border-radius: 0.25em;
    border: 0.188em dashed #707070;
    display: table;
    padding-bottom: 1.25em;
    .drag {
      display: table-cell;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      color: #a3abbd;
      font-size: 1.25em;
      // margin-top: 2.5em;
    }
  }
}

.next {
  margin-top: 0.625em;
  border: 0.063em solid #2673e5;
  background-color: white;
  color: #2673e5;
  width: 8.125em;
  i {
    margin-left: 0.313em;
    color: #2673e5;
  }
}
.next:hover {
  background-color: #2673e5;
  color: white;
  i {
    color: white;
  }
}

// stepper
.heading__three {
  font-size: 0.875em;
  font-weight: bold;
  color: black;
  line-height: 1.625em;
  margin: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  text-align: left;
}
.paragraph {
  font-size: 0.75em;
  font-weight: 500;
  color: #a3abbd;
  line-height: 1.375em;
  margin: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  text-align: left;
}
/* DO NOT COPY THIS. END OF BLOCK */

.stepper__row {
  cursor: default;
  width: 25em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.188em;
  margin-left: auto;
  margin-right: auto;
  transition: margin 0.4s;
  &:last-child {
    margin-bottom: 0;
    .button__rectangle {
      display: none;
    }
  }
}

.stepper--vertical {
  display: flex;
  position: relative;
  &__circle {
    background: url("~/assets/img/stepper-active.svg");
    width: 3.75em;
    height: 3.75em;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    &:after {
      content: url("~/assets/img/stepper-line.svg");
      position: absolute;
      top: 4.688em;
      z-index: 0;
      transform-origin: 100% 0%;
      transition: transform 0.2s;
    }
    &__text {
      align-self: center;
      font-size: 1.125em;
      font-weight: 500;
      color: #ffce00;
    }
  }
  &__details {
    margin-left: 1.5em;
    margin-top: 0.625em;
    align-self: center;
    max-width: 33.688em;
    .paragraph {
      margin-top: 0.75em;
      transition: all 0.2s;
    }
    .button__rectangle {
      margin-top: 1.5em;
    }
  }
}
.stepper__row:last-child {
  .stepper--vertical__circle {
    &:after {
      content: "";
      display: none;
    }
  }
}
.stepper__row--disabled {
  margin-bottom: 2.813em;
  .button__rectangle {
    display: none;
  }
  .stepper--vertical__circle {
    background: url("~/assets/img/stepper.svg");
    opacity: 0.4;
    &__text {
      color: rgba(62, 78, 104, 0.7);
    }
    &:after {
      transform: scaleY(0.35);
    }
  }
  .stepper--vertical__details {
    .paragraph {
      color: rgba(62, 78, 104, 0.8);
    }
    .heading__three {
      color: rgba(62, 78, 104, 0.7);
    }
  }
}

/*DO NOT COPY THIS BLOCK EITHER */
/* DELETE THIS IF YOU HAVE */
/* This is only here for the buttons */
/*  */
/*  */
/*  */
/*  */
/*  */
.button__circle {
  border: 0.125em solid #388cf3;
  border-radius: 6em;
  height: 2.75em;
  width: 2.75em;
  position: relative;
  transition: all 0.05s;
  background: #fff;
}

.button__circle__middle {
  position: absolute;
  transform: translate(-50%);
  top: 32%;
  left: 50%;
}

.button__group {
  display: flex;
  .button__rectangle__button,
  .button__circle {
    margin-left: 2em;
  }
  .button__rectangle__button:first-child,
  .button__circle:first-child {
    margin-left: 0em;
  }
  &--margin-top {
    margin-top: 2em;
  }
}
.button__rectangle__button__icon svg {
  fill: #fff;
}
.button__circle:hover {
  transform: scale(1.025) translateY(-0.063em);
  background: #388cf3;
}
.button__circle:hover .button__arrow {
  fill: #fff;
}
.button__circle:active {
  transform: scale(0.975) translateY(0.063em);
}
.button__arrow {
  fill: #388cf3;
}

.button__rectangle__button {
  border: none;
  padding: 0.625em 1.875em;
  background: #388cf3;
  outline: 0;
  cursor: pointer;
  border-radius: 0.188em;
  color: #fff;
  font-size: 0.875em;
  transition: all 0.05s;
  font-weight: 600;
  margin: 0 auto;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility !important;
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:first-letter {
    text-transform: uppercase;
  }
}

/* Icon Handlers */
.button__rectangle__button__icon {
  padding-right: 0.5em;
}

.button__rectangle__button--default--secondary--icon {
  .button__rectangle__button__icon svg {
    fill: #388cf3;
  }
}
.button__rectangle__button--default--secondary--icon:hover {
  .button__rectangle__button__icon svg {
    fill: #2a476d;
  }
}

.button__rectangle__button--neutral--secondary--icon {
  .button__rectangle__button__icon svg {
    fill: #647a89;
  }
}
.button__rectangle__button--neutral--secondary--icon:hover {
  .button__rectangle__button__icon svg {
    fill: #3e4e68;
  }
}

.button__rectangle__button--negative--secondary--icon {
  .button__rectangle__button__icon svg {
    fill: #ff4876;
  }
}
.button__rectangle__button--negative--secondary--icon:hover {
  .button__rectangle__button__icon svg {
    fill: #6d2a43;
  }
}

.button__rectangle__button--default--secondary,
.button__rectangle__button--default--secondary--icon {
  border: none;
  padding: 0.625em 1.875em;
  background: #fff;
  outline: 0;
  cursor: pointer;
  border-radius: 0.188em;
  color: #388cf3;
  font-size: 0.875em;
  transition: all 0.05s;
  border: 0.125em solid #388cf3;
  font-weight: 600;
  background: #fff;
}

.button__rectangle__button--neutral {
  background: #647a89;
}
.button__rectangle__button--neutral--secondary,
.button__rectangle__button--neutral--secondary--icon {
  border: 0.125em solid #647a89;
  color: #647a89;
  background: #fff;
}

.button__rectangle__button--negative {
  background: #ff4876;
}
.button__rectangle__button--negative--secondary,
.button__rectangle__button--negative--secondary--icon {
  border: 0.125em solid #ff4876;
  color: #ff4876;
  background: #fff;
}
.button__rectangle__button--default--negative {
  border-color: #ff4876;
  color: #ff4876;
}
.button__rectangle__button:hover {
  transform: scale(1.05) translateY(-0.063em);
  background: #2a476d;
}
.button__rectangle__button--default--secondary:hover,
.button__rectangle__button--default--secondary--icon:hover {
  transform: scale(1.05) translateY(-0.063em);
  border-color: #2a476d;
  color: #2a476d;
  background: #fff;
}
.button__rectangle__button:active {
  transform: scale(0.995) translateY(0.063em);
}
.button__rectangle__button--neutral:hover {
  background: #3e4e68;
}
.button__rectangle__button--neutral--secondary:hover,
.button__rectangle__button--neutral--secondary--icon:hover {
  border-color: #3e4e68;
  color: #3e4e68;
  background: #fff;
}
.button__rectangle__button--negative:hover {
  background: #6d2a43;
}
.button__rectangle__button--negative--secondary:hover,
.button__rectangle__button--negative--secondary--icon:hover {
  border-color: #6d2a43;
  color: #6d2a43;
  background: #fff;
}
.button__rectangle__button--default__icon {
  margin-right: 0.625em;
}
