.user {
    padding: 0 5px 5px;
}
a:hover {
    text-decoration: none;
}
.clear_fix {
    clear: both;
}

.over_lay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    position: absolute;
    background-color: rgba(59, 59, 59, 50%);
}