<body>
    <div class="hole-layout">
        <div class="row">
    
    
            <!----------------------left side----------------------------->
            <div class="col-md-4 col-sm-12 all">
                <div class="overlay-left"></div>
    
                <div class=" header">
                    <div class="container">
                        <div class="row">
                            <div class=" logo-i"><img src="assets/img/iprotect-logo.svg" alt="logo"></div>
                            <div class="text-bold lang">EN|ع</div>
                        </div>
                    </div>
                </div>
    
                <div class="welcome" style="height:75%;">
    
                    <div class="info text-center">
                        <h1 style="color:black; font-size: 30px">welcome to</h1>
                        <img src="assets/img/iprotect-text.svg" alt="">
                        <p>Just few more steps to setup your profile:</p>
                        <p>I. Select ID type</p>
                        <p>2. Enter you legal name</p>
                        <p>3. Enter your ID number</p>
                        <p>4. Set your profile picture (optional)</p>
                        <div class="shape"></div>
                        <div class="shape shape-2"></div>
                        <a class="btn btn-outline-light text-bold" href="register.html">Create a new account</a>
                    </div>
                </div>
            </div>
    
            <!---------------------------------------------->
    
    
            <div class="col-md-8 col-sm-12 content">
    
    
                <div class="register-form">
                    <div class="container">
    
                        <div class="title ">
                            <h2>Please pick the ID type you want to to generate certificates with:</h2>
                        </div>
                        <div class="row" style="margin-top: 50px">
                            <div class="col-lg-4">
                                <img (click)="navTo('/select-name', 'id')" style="display: block; margin: auto; cursor: pointer" width="250px" src="assets/img/profile/id.png" alt="">
                            </div>
                            <div class="col-lg-4">
                                <img (click)="navTo('/select-name', 'passport')" style="display: block; margin: auto; cursor: pointer" width="250px" src="assets/img/profile/passport.png" alt="">
                            </div>
                        </div>
                    </div>
    
    
                </div>
            </div>
    
    
            <!-------------------------------------------------------------->
        </div>
    </div>
</body>