<section class="header-menu">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a (click)="navTo('dashboard')" class="pointer navbar-brand"><img width="180px" src="assets/img/iprotect/Group 42.png" alt="logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="List collapse navbar-collapse " id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link">
                            <div class="pointer lang">EN|ع</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="pointer nav-link"><i class="fa fa fa-bell-o "></i></a>
                    </li>


                    <li class="nav-item">
                        <img class="pointer rounded-circle" src="assets/img/iprotect/Layer 0@2x.png">
                    </li>

                    <li class="nav-item">
                        <a class="pointer nav-link"><i class="fa fa-ellipsis-v "></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</section>
