<section class="header-menu">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a (click)="navTo('dashboard')" class="pointer navbar-brand"><img width="180px" src="assets/img/iprotect/Group 42.png" alt="logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="List collapse navbar-collapse " id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link">
                            <div class="pointer lang">EN|ع</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="pointer nav-link"><i class="fa fa fa-bell-o "></i></a>
                    </li>


                    <li *ngIf="user.avatar_url" class="nav-item">
                        <img class="pointer rounded-circle" [src]="user.avatar_url">
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button
                            </button> -->
                            <a class="pointer nav-link" data-toggle="dropdown"><i class="fa fa-ellipsis-v "></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item pointer" (click)="navTo('profile')">Profile</a>
                              <a class="dropdown-item pointer" (click)="logout()">Logout</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</section>
