@import '../sass/style.scss';

// start style class review_my_idea
.review_my_idea {
    top: 50%;
    left: 50%;
    z-index: 1600;
    position: fixed;
    min-width: 500px;
    max-width: 765px;
    // use var sass
    background-color: $c_white;
    // use mixin sass
    @include prevfix(border-radius, 6px, webkit moz ms o);
    @include prevfix(transform, translate(-50%, -50%), webkit moz ms o);
    form {
        padding: 40px 50px;
        .title p {
            margin-bottom: 40px;
            // use var sass
            color: $c_bg_body_2;
            font-size: $font_14;
            font-family: $font_regular;
            b {
                color: $c_black;
            }
        }
        .input {
            margin-bottom: 40px;
            app-input-filed > textarea {
                height: 160px;
            }
        }
        app-btn {
            float: right;
        }
    }
}
// end style class review_my_idea