<!-- start class over_lay -->
<div class="over_lay"></div>
<!-- end  class over_lay -->

<!-- start app-success -->

<app-success
    *ngIf="isSuccess" 
    navigate="../"
    title="Review my idea" 
    body="We have received your request and we will review it carefully. <br> Please expect to hear back from us within 5 working days.">
</app-success>
<!-- end  app-success -->

<!-- start component review-my-idea -->
<div *ngIf="!isSuccess" ng class="review_my_idea">
    <form [formGroup]='FormReviewMyIdea' (ngSubmit)="ReviewMyIdea()">
        <div class="row">
            <div class="col-sm-12 title overflow-hidden">
                <p class="float-left"><b>Review my idea</b></p>
                <i routerLink="../" class="fa fa-times pointer user float-right"></i>
            </div>
            <div class="col-sm-12 title">
                <p>Are you looking for <b>fund, talents</b>, or simply <b>advice</b> to expand your idea and turn it
                Into reality? We are here for you, just send us your current status and a short desription
                of your business needs and we will come back to you as soon as we can!</p>
            </div>
            <div class="col-sm-12 col-md-12 input">
                <app-input-filed
                    defInput="select"
                    nameInput="status"
                    lable="My current status is:"
                    [formGroupParent]="FormReviewMyIdea"
                    [items]="['Innovation Process', 'Strategy', 'Business Plan', 'Minimum Viable Product', 'Brainstorming' , 'Business Case']"
                    >
                </app-input-filed>
            </div>
            <div class="col-sm-12 col-md-12 input">
                <app-input-filed 
                    defInput="area" 
                    nameInput="business" 
                    lable="My business needs are:"
                    [formGroupParent]="FormReviewMyIdea">
                </app-input-filed>
            </div>
            <p *ngIf="errMsg" class="error">{{errMsg}}</p>
            <div class="col-sm-12 overflow-hidden">
                <app-btn
                    [isloading]="isLoading"
                    [disabled]="FormReviewMyIdea.invalid || FormReviewMyIdea.value.status == 'select'"
                    btn_type="submit"
                    btn_title="Submit request">
                </app-btn>
            </div>
        </div>
    </form>
</div>
<!-- end component review-my-idea -->