@font-face {
    font-family: Rubik-regular;
    src: url(../../../assets/font/Rubik-Regular.ttf);
}
body,
.all {
    font-family: Rubik-regular;
}
a,
button {
    color: #fff;
    padding: 14px 24px;
}

@media only screen and (max-width: 370px) {
    button,
    a {
        padding: 5px;
        letter-spacing: 0;
    }
}

a:hover {
    text-decoration: none;
    color: #fff;
}
.text-bold {
    font-weight: bold;
}

/**********************/
.header {
    padding: 20px 0 20px 20px;
    transform: translate(50px, 50px);
}

.header .lang {
    font-size: 16px;
    margin-left: 40px;
    padding-top: 10px;
}
@media only screen and (max-width: 892px) and (min-width: 767px) {
    .header .lang {
        margin-left: 10px;
        font-size: 12px;
    }
    .header .container {
        margin-right: 0;
        padding-right: 0;
    }
}
/**********************/
.hole-layout .row {
    padding: 0;
    margin: 0;
}
.hole-layout .all {
    height: 100vh;
    // background-color: #2673e5;
    color: #fff;
    position: relative;
}

/********right form**************/
.hole-layout .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*************************************************/

.hole-layout .welcome {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hole-layout .welcome .btn-outline-light {
    border: 2px solid #fff;
    padding: 14px 24px;
}
.hole-layout .welcome .btn-outline-light:hover {
    color: #fff;
    background: transparent;
}
.hole-layout .overlay-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // background: transparent url("../../assets/img/iprotect/Mask Group-left.png") no-repeat padding-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hole-layout .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // background: transparent url("../../assets/img/iprotect/Mask Group 1.png") no-repeat padding-box;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hole-layout .welcome .info {
    position: relative;
    z-index: 10;
}
.hole-layout .welcome .info h1 {
}
.hole-layout .welcome .info p {
    margin-top: 20px;
    font-size: 18px;
    line-height: .5em;
    color: black;
}
.info img {
    width: 260px;
}
.shape {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 312px;
    height: 309px;
    background: var(--unnamed-color-c4c4c4) 0% 0% no-repeat padding-box;
    background: #C4C4C4 0% 0% no-repeat padding-box;
    border-radius: 45px;
    opacity: 0.2;
}
.shape-2 {
    transform: matrix(0.9, 0.44, -0.44, 0.9, 0, 0);
}
.hole-layout .welcome .info a {
    padding: 10px 25px;
    margin-top: 20px;
}

/*******************************/
.hole-layout .register-form {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 767.98px) {
    .content,
    .content-right {
        margin: 30px 0;
    }
    .hole-layout .register-form {
        width: 100%;
        margin: 0;
    }
    .hole-layout .register-form .title {
        font-size: 14px;
    }
    .hole-layout .register-form .form-body .col-lg-5 {
        padding-right: 0;
    }
}

.hole-layout .register-form .title {
    margin-left: 40px;
    position: relative;
}
.hole-layout .register-form h2 {
    font-size: 20px;
    // line-height: 36px;
    padding-bottom: 20px;
    // width: 300px;
}
.back {
    margin-bottom: 15px;
    cursor: pointer;
    i {
        margin-right: 5px;
    }
}
.hole-layout .register-form h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 6px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #2673e5;
}
::placeholder {
    font-size: 14px;
}
.hole-layout .register-form .control-group {
    margin-bottom: 30px;
}
.hole-layout .register-form .form-body label {
    font-size: 14px;
    padding-left: 15px;
    line-height: 17px;
}
.hole-layout .register-form .form-body .forgot {
    padding-left: 20px;
}
.hole-layout .register-form .form-body input[type="password"] {
    position: relative;
}

.hole-layout .register-form .form-body input,
.hole-layout .register-form .form-body select {
    border-radius: 2px;
    background-color: #eaeaea;
    border: 0;
    height: 58px;
}
.hole-layout .register-form .form-body .col-lg-5 {
    padding-left: 0;
    padding-bottom: 30px;
}
.hole-layout .register-form .form-body .col-lg-7 {
    padding-right: 0;
    padding-left: 0;
}
.hole-layout .register-form .form-body .container {
    padding-right: 0;
    padding-top: 20px;
}

.next {
    margin-top: 10px;
    border: 1px solid #2673E5;
    background-color: white;
    color: #2673E5;
    width: 130px;
    font-weight: 700;
    font-size: 18px;
    i {
        margin-left: 10px;
        color: #2673E5;
        font-weight: 100;
        font-size: 14px;
        transform: translateY(-1px);
    }
}