@import '../sass/style.scss';

:host {
    height: 100%;    
    display: block;
    background: url(../../assets/img/bg_1.png) no-repeat center right;
    background-size: cover;
}
.rest_password {
    font-size: 16px;
    font-family: $font_regular;
    .nav_bar {
        overflow: hidden;
        padding-top: 20px;
        .logo {
            float: left;
            margin-right: 60px;
        }
        .lang {
            float: left;
            line-height: 46px;
            font-family: 'Rubik-Bold';            
        }
    }
    .rest_pass {
        margin-top: 90px;
        span {
            color: $c_1th;
        }
        p {
            margin-top: 15px;
            margin-bottom: 0;
        }
        ul {
            padding-left: 17px;
            list-style: circle;
            li {
                color: $c_1th;
                &.valid {
                    color: $c_true;
                }
            }
        }
        .box_form {
            margin-top: 30px;
            label {
                line-height: 17px;
                padding-left: 15px;
                font-size: $font_14;
                text-transform: uppercase;
            }
            input {
                border: 0;
                width: 100%;
                height: 58px;
                margin-top: 12px;
                border-radius: 2px;
                background-color: $c_3th;
                &::placeholder {
                    color: $c_1th;
                    font-size: $font_14;
                }
            }
        }
        button {
            float: right;
            margin-top: 42px;
            padding: 14px 60px;
        }
    }
    .success .wrap {
        margin-top: 20px;
        text-align: center;
        img {
            height: auto;
            max-width: 100%;
        }
        p {
            color: $c_2th;
            font-size: 16px;
            margin-top: 13px;
            margin-bottom: 0;
        }
        button {
            margin-top: 30px;
        }
    }    
}
