<div class="rest_password">
    <span>Reset your password</span>
    <p>To protect your account, make sure your password is:</p>
    <ul>
        <li>At least 8 characters—the more characters, the better.</li>
        <li>A mixture of both uppercase and lowercase letters.</li>
        <li>A mixture of letters and numbers.</li>
    </ul>
    <form class="box_form">
        <div class="form-group">
            <label for="exampleInputPassword1">new password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <i class="fa fa-view"></i>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Repeat new password</label>
            <input type="password" class="form-control" id="confirmPassword">
            <i class="fa fa-view"></i>
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>    
</div>