<!-- start class rest_password -->
<div class="rest_password h-100">
    <div class="container h-100">
        <div class="row justify-content-end h-100">
            <div class="col-12 nav_bar">
                <div class="logo pointer">
                    <img src="../../assets/img/main-logo.png" alt="logo" srcset="">
                </div>
                <div class="lang pointer">
                    EN | ع
                </div>
            </div>
            <div class="col-sm-12 col-md-8 rest_pass" *ngIf="!isSuccess">
                <span>Reset your password</span>
                <p>To protect your account, make sure your password is:</p>
                <ul>
                    <li [ngClass]="{'valid': newPassword.value?.length >= '8'}">At least 8 characters—the more characters, the better. <i class="fa fa-check" *ngIf="newPassword.value?.length >= '8'"></i></li>
                    <li [ngClass]="{'valid': !newPassword.errors?.pattern && newPassword.dirty}">A mixture of both uppercase and lowercase letters. <i class="fa fa-check" *ngIf="!newPassword.errors?.pattern && newPassword.dirty"></i> </li>
                    <li [ngClass]="{'valid': !newPassword.errors?.pattern && newPassword.dirty}" >A mixture of letters and numbers. <i class="fa fa-check" *ngIf="!newPassword.errors?.pattern && newPassword.dirty"></i></li>
                </ul>
                <form class="box_form" #FromRestPassword="ngForm" (ngSubmit)="RestPassword(FromRestPassword)">
                    <div class="form-group" >
                        <label for="exampleInputPassword1">new password</label>
                        <input type="password" 
                            name="new_password"
                            class="form-control" 
                            id="exampleInputPassword1"
                            placeholder="Start typing..."
                            data-validation-required-message="Please enter your pass."
                            minlength="8"
                            pattern="([A-Za-z0-9])+"
                            required
                            ngModel
                            #newPassword="ngModel"
                        >
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Repeat new password</label>
                        <input type="password" 
                            name="confirm_NewPassword"
                            class="form-control" 
                            id="confirmPassword" 
                            placeholder="Start typing..."
                            data-validation-required-message="Please enter your pass."
                            required
                            ngModel
                            #confirm_NewPassword="ngModel"
                        >
                    </div>
                    <button [disabled]="FromRestPassword.invalid || newPassword.value != confirm_NewPassword.value || isValid" type="submit" class="btn btn-primary">Change password</button>
                </form>
            </div>
            <div class="col-sm-12 success text-center" *ngIf="isSuccess">
                <div class="wrap">
                    <img src="../../assets/img/success.png" alt="success">
                    <p>You’ve successfully updated your password. <br> You can now login to your account using your new password.</p>
                    <button type="submit" class="btn btn-primary" (click)="navTo('login')"><b>Login to your account</b></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end class rest_password -->