<!-- start payment component -->
<div class="row">
    <div class="col-sm-12">
        <div class="payment">
            <h3>Manage your payment methods</h3>
            <ul>
                <li>MasterCard ****5482</li>
                <li>Amr Mohammed</li>
                <li>Expires 12/2025</li>
                <li>
                    <a href="http://">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a href="http://">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <ul>
                <li>MasterCard ****5482</li>
                <li>Amr Mohammed</li>
                <li>Expires 12/2025</li>
                <li>
                    <a href="http://">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a href="http://">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <ul>
                <li>MasterCard ****5482</li>
                <li>Amr Mohammed</li>
                <li>Expires 12/2025</li>
                <li>
                    <a href="http://">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a href="http://">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <h4><a routerLink="add"><i class="fa fa-plus"></i>Add new credit card</a></h4>
        </div>
    </div>
</div>
<!-- end payment component -->

<router-outlet></router-outlet>