<!-- start payment component -->
<div class="row">
    <div class="col-sm-12">
        <div class="payment">
            <h3>Manage your payment methods</h3>
            <ul *ngFor="let card of cards">
                <li>MasterCard ****{{card.number | slice: -4}}</li>
                <li>{{card.name}}</li>
                <li>Expires {{card["Exp-Month"] + "/" + card["Exp-year"]}}</li>
                <li>
                    <a [routerLink]="['edit', card.id]">
                        <i class="fa fa-edit "></i>
                        <b>edit</b>
                    </a>
                    <a routerLink="./" (click)="deleteCard(card.id)">
                        <i class="fa fa-trash"></i>
                        <b>remove</b>
                    </a>
                </li>
            </ul>
            <h4><a routerLink="add"><i class="fa fa-plus"></i>Add new credit card</a></h4>
        </div>
    </div>
</div>
<!-- end payment component -->

<router-outlet></router-outlet>