/* You can add global styles to this file, and also import other style files */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #797979;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px #eaeaea;
}
*:focus {
  outline: unset !important;
}
.pointer {
  cursor: pointer;
}
.ip-font {
  font-family: Rubik-regular !important;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.middle {
  display: block;
  margin: auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #2773e4;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.nationality {
  color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.modal-content {
  padding: 10px 20px;
  .modal-header {
    border: unset;
    .modal-title {
      color: #a3abbd;
      font-size: 14px;
    }
  }
  .close {
    color: #707070 !important;
  }
  .modal-body {
    p {
      font-size: 14px;
      color: #3b3b3b;
    }
  }
  .modal-footer {
    border: unset;
    button {
      font-size: 14px;
    }
  }
}

.modal-md {
  max-width: 570px;
}
