<body>
  <div class="background">
    <img class="left" src="assets/img/dashboard/left.svg" alt="" />
    <img class="right" src="assets/img/dashboard/left.svg" alt="" />
  </div>
  <div class="hole-layout">
    <div class="row">
      <!----------------------left side----------------------------->

      <div class="header">
        <div class="container">
          <div class="row">
            <div class="logo-i">
              <img src="assets/img/iprotect-logo.svg" alt="logo" />
            </div>
            <div class="text-bold lang text-dark">EN|ع</div>
          </div>
        </div>
      </div>

      <!---------------------------------------------->

      <!-------------------------------------------------------------->
    </div>
    <div class="wrapper">
      <!-- <div>
        <p class="text-light text-left">Reset your password</p>
        <p class="text-dark">
          To protect your account, make sure your password is:
        </p>
        <ul class="text-light px-3">
          <li>At least 8 characters—the more characters, the better.</li>
          <li>A mixture of both uppercase and lowercase letters.</li>
          <li>A mixture of letters and numbers.</li>
        </ul>

        <div class="hole-layout">
          <div class="register-form mt-5">
            <div class="form-body">
              <div class="control-group">
                <label
                  style="font-weight: bold !important"
                  for="exampleDropdownFormPassword1"
                  >NEW PASSWORD</label
                >
                <span class="eye"
                  ><i
                    class="fa fa-eye"
                    [ngClass]="inputPassword1 ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="inputPassword1 = !inputPassword1"
                  ></i
                ></span>
                <input
                  type="password"
                  class="form-control"
                  [type]="inputPassword1 ? 'password' : 'text'"
                  name="mypassword"
                  placeholder="Start typing..."
                  required="required"
                  data-validation-required-message="Please enter your Password."
                />
              </div>
              <div class="control-group">
                <label
                  style="font-weight: bold !important"
                  for="exampleDropdownFormPassword1"
                  >REPEAT NEW PASSWORD</label
                >
                <span class="eye"
                  ><i
                    class="fa"
                    [ngClass]="inputPassword2 ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="inputPassword2 = !inputPassword2"
                  ></i
                ></span>
                <input
                  type="password"
                  class="form-control"
                  name="mypassword"
                  [type]="inputPassword2 ? 'password' : 'text'"
                  placeholder="Start typing..."
                  required="required"
                  data-validation-required-message="Please enter your Password."
                />
              </div>
              <div class="buton-login text-center text-lg-right">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="font-size: 16px"
                >
                  <b>Change password</b>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="text-center">
        <img src="assets/img/profile/success.svg" />
        <p class="my-4">
          We have sent you an email with a link to reset your password.
          <br />
          If you can’t find the email check the spam folder.
        </p>
        <div class="buton-login text-center">
          <button type="submit" class="btn btn-primary" style="font-size: 16px">
            <b>Login to your account</b>
          </button>
        </div>
      </div>
    </div>
    <!-- /wrapper -->
  </div>
</body>
