<div class="hole-layout">
    <div class="row">

        <div class="col-md-8 col-sm-12 content-right">

            <div class=" header">
                <div class="container">
                    <div class="row">
                        <div class=" logo-i"><img src="assets/img/iprotect/Group 42.png" alt="logo"></div>
                        <div class="lang">EN|ع</div>
                    </div>
                </div>
            </div>
            <div class="register-form">
                <div class="container">

                    <div class="title" style="margin-top: 50px;">
                        <h2>Create an account</h2>
                    </div>

                    <div class="form-body">
                        <form class="px-4 py-3" id="simple_form" novalidate="novalidate">
                            <div class="control-group">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <label for="exampleDropdownFormEmail1">EMAIL ADDRESS</label>
                                        <input type="email" class="form-control" id="contact_email"
                                            placeholder="Start typing..."
                                            data-validation-required-message="Please enter your Email." />
        
                                        <p class="text-danger help-block"></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="tooltip-main" data-toggle="tooltip" data-placement="top" data-original-title="If your country is not on the list, that means we're not operating there yet. But surely coming soon, Hang in there!" for="exampleDropdownFormEmail1">
                                            NATIONALITY
                                            <i class="fa fa-question-circle"></i>
                                        </label>
                                            <div class="dropdown">
                                                <button class="btn nationality dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Select
                                                  <i class="fa fa-caret-down"></i>
                                                  <!-- <i class="fas fa-caret-circle-down"></i> -->
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                  <a class="dropdown-item" style="cursor: pointer">
                                                      <img width="20px" style="margin-right: 10px" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg" alt="">
                                                      Egypt
                                                    </a>
                                                </div>
                                              </div>                                              
                                        <p class="text-danger help-block"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="exampleDropdownFormPassword1">PASSWORD</label>
                                <input type="password" class="form-control" id="mypassword" placeholder="Start typing..."
                                    required="required" data-validation-required-message="Please enter your Password.">
                                <p class="text-danger help-block"></p>

                            </div>

                            <div class="control-group">
                                <label for="exampleDropdownFormPassword1">REPEAT PASSWORD</label>
                                <input type="password" class="form-control" id="mypassword" placeholder="Start typing..."
                                    required="required" data-validation-required-message="Please enter your Password.">
                                <p class="text-danger help-block"></p>

                            </div>

                            <div class="container text-center text-lg-right">
                                <button type="submit" class="btn btn-primary " id="send_button">
                                    <a (click)="navTo('select-id-type')" class="text-bold">Create Your Account</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------Right side----------------------------->
        <div class="col-md-4 col-sm-12 all">

            <div class="welcome">

                <div class="overlay"></div>
                <div class="info text-center">
                    <h1>welcome to</h1>
                    <img src="assets/img/iprotect/Group 184.png" alt="">
                    <p>Already have <br>an account?</p>
                    <a class="btn btn-outline-light text-bold" (click)="navTo('login')">Login to your account</a>

                </div>
            </div>
        </div>
        <!---------------------------------------------->
    </div>
</div>
