<div class="hole-layout">
    <div class="row">

        <div class="col-md-8 col-sm-12 content-right">

            <div class=" header">
                <div class="container">
                    <div class="row">
                        <div (click)="landing()" class="logo-i"><img class="pointer"
                                src="assets/img/iprotect/Group 42.png" alt="logo"></div>
                        <div class="lang">EN|ع</div>
                    </div>
                </div>
            </div>
            <div class="register-form">
                <div class="container">

                    <div class="title" style="margin-top: 70px;">
                        <h2>Create an account</h2>
                    </div>

                    <div class="form-body" style="margin-top: 50px;">
                        <form class="px-4 py-3" id="simple_form" novalidate="novalidate">
                            <div class="control-group">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <label for="exampleDropdownFormEmail1">EMAIL ADDRESS</label>
                                        <input [(ngModel)]="user.email" type="email" class="form-control" name="email"
                                            placeholder="Start typing..."
                                            data-validation-required-message="Please enter your Email." />
                                        <p class="text-danger help-block">{{errors['email'][0]}}</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="tooltip-main" data-toggle="tooltip" data-placement="top"
                                            data-original-title="If your country is not on the list, that means we're not operating there yet. But surely coming soon, Hang in there!"
                                            for="exampleDropdownFormEmail1">
                                            NATIONALITY
                                            <i class="fa fa-question-circle"></i>
                                        </label>
                                        <div class="dropdown">
                                            <input autocomplete="off" [(ngModel)]="nationalityFilter" name="nationalityFilter" class="btn nationality dropdown-toggle" type="text"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" placeholder="{{user.nationality || 'Select'}}">
                                            <i class="fa fa-caret-down input-caret"></i>
                                            <div class="dropdown-menu scrollable-menu"
                                                style="height: auto; max-height: 200px; overflow-y: scroll; overflow-x: hidden"
                                                aria-labelledby="dropdownMenuButton">
                                                <a (click)="user.nationality = country.name; nationalityFilter = country.name" class="dropdown-item"
                                                    style="cursor: pointer" *ngFor="let country of countries | filter:nationalityFilter">
                                                    {{country.name}}
                                                </a>
                                            </div>
                                        </div>
                                        <p class="text-danger help-block">{{errors['nationality'][0]}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="exampleDropdownFormPassword1">PASSWORD</label>
                                <input type="password" class="form-control" placeholder="Start typing..."
                                    [(ngModel)]="user.password" name="password" required="required"
                                    data-validation-required-message="Please enter your Password.">
                                <p class="text-danger help-block">{{errors['password'][0]}}</p>
                            </div>

                            <div class="control-group">
                                <label for="exampleDropdownFormPassword1">REPEAT
                                    PASSWORD</label>
                                <input type="password" class="form-control" placeholder="Start typing..."
                                    [(ngModel)]="password_confirm" name="password_confirm" required="required"
                                    data-validation-required-message="Please enter your Password.">
                                <p class="text-danger help-block">{{errors['password_confirm']}}</p>

                            </div>

                            <div class="container text-center text-lg-right" style="margin-top: 50px;">
                                <button type="submit" class="btn btn-primary shadow-hover">
                                    <a (click)="submit()" class="text-bold">Create Your Account</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------Right side----------------------------->
        <div class="col-md-4 col-sm-12 all">

            <div class="welcome">

                <div class="overlay"></div>
                <div class="info text-center">
                    <h1>welcome to</h1>
                    <img src="assets/img/iprotect/Group 184.png" alt="">
                    <p>Already have <br>an account?</p>
                    <a class="btn btn-outline-light text-bold" (click)="navTo('login')">Login to your account</a>

                </div>
            </div>
        </div>
        <!---------------------------------------------->
    </div>
</div>