<div>
    <app-navbar></app-navbar>
    <div class="">
        <div class="row mx-0 flex-column-reverse flex-md-row">
            <div class="col-sm-12 col-md-4">
                <div class="view">
                    <img class="certificate" width="100%" src="assets/img/dashboard/view.png" alt="">
                    <div class="download" (click)="download()">
                        <img class="download-icon" src="assets/img/dashboard/download.svg" alt=""> Download certificate
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 (click)="back('dashboard')">
                                <span class="back">
                                    <b><i class="fa fa-arrow-left"></i> Back to dashboard</b>
                                </span>
                            </h6>
                        </div>
                        <div class="col-sm-12">
                            <div class="lds-ripple middle" *ngIf="loading">
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <p class="title">{{certificate[0]?.title}}</p>
                        </div>
                        <div class="col-6 col-sm-4 col-md-12 col-lg-4">
                            <p class="desc">
                                {{certificate[0]?.description}}
                            </p>
                        </div>
                        <ng-container>

                        </ng-container>
                        <div class="col-6 col-sm-4 col-md-6 col-lg-4">
                            <p [routerLink]="['order', certificate[0]?.id]" class="desc" style="color: #000; cursor: pointer;" >
                                <img style="margin-right: 8px;" src="../../../assets/img/iprotect/Group 182.png" alt="" srcset="">
                                <b style="vertical-align: middle">Order hard copy</b>
                            </p>
                        </div>
                        <div class="col-12 col-sm-4 col-md-6 col-lg-4">
                            <p routerLink="review" class="desc" style="color: #000; cursor: pointer;">
                                <img style="margin-right: 8px;" src="../../../assets/img/review.svg" alt="" srcset="">
                                <b style="vertical-align: middle">Review my idea</b>
                            </p>
                        </div>
                    </div>
                    <div class="attachments text-center text-md-left">
                        <p class="head">Attachments</p>
                        <div class="row">
                            <div class="col-12 mb-4 col-md-6 col-lg-3 attachments__title">My research work.pdf</div>
                            <div class="col-12 mb-4 col-md-6 col-lg-3 attachments__size">9.34 MB <img class="download-icon"
                                    src="assets/img/dashboard/download.svg"></div>
                            <div class="col-12 mb-4 col-md-6 col-lg-3 attachments__date">Uploaded on: 07.09.2020, 15:34</div>
                            <div [routerLink]="['sharing', certificate[0]?.id]" class="col-12 mb-4 col-md-6 col-lg-3 attachments__sharing"> 
                                <img class="download-icon"src="assets/img/dashboard/share.svg" alt=""> Secure sharing
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>