<body>
    <div class="hole-layout">
        <div class="row">
    
    
            <!----------------------left side----------------------------->
            <div class="col-md-4 col-sm-12 all">
                <div class="overlay-left"></div>
    
                <div class=" header">
                    <div class="container">
                        <div class="row">
                            <div class=" logo-i"><img src="assets/img/iprotect-logo.svg" alt="logo"></div>
                            <div class="text-bold lang">EN|ع</div>
                        </div>
                    </div>
                </div>
    
                <div class="welcome" style="height:75%;">
    
                    <div class="info text-center">
                        <img src="assets/img/profile/id-picture.png" alt="">
                    </div>
                </div>
            </div>
    
            <!---------------------------------------------->
    
    
            <div class="col-md-8 col-sm-12 content">
    
    
                <div class="register-form">
                    <div class="container">
    
                        <div class="title ">
                            <h6 (click)="back()" class="back"><b><i class="fa fa-arrow-left"></i> Back</b></h6>
                            <h3><b>Profile Picture (optional)</b></h3>
                            <h2>Upload a picture of yourself to display In your account.</h2>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-lg-12">
                                <div class="profile-picture">
                                    <div class="drag">
                                        <p>Drag a picture here.</p>
                                        <p>or</p>
                                        <button type="submit" class="btn btn-primary " id="send_button">Choose a file</button>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 50px">
                                    <div class="col-lg-6">
                                        <p (click)="skip()" class="skip">Will do it later</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="buton-login text-center text-lg-right">
                                            <button (click)="navTo('dashboard')" type="submit" class="btn btn-primary next" id="send_button"> next <i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                </div>
            </div>
    
    
            <!-------------------------------------------------------------->
        </div>
    </div>
</body>